# API Keys
DEEPSEEK_API_KEY=YOUR_DEEPSEEK_API_KEY

# Server Config
HOST=0.0.0.0
PORT=8000

# File Upload Config
UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE=50000000


MULTIMODAL_PROVIDER=qwen
MULTIMODAL_MODEL=qwen-vl-plus
MULTIMODAL_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MULTIMODAL_API_KEY=YOUR_API_KEY
MULTIMODAL_ENABLE_THINKING=false
